In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sample_db.sqlite')

In [3]:
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER
)
''')

conn.commit()

In [4]:
books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (?, ?, ?)
''', books_data)

conn.commit()

In [5]:
cursor.execute("SELECT * FROM books")
books = cursor.fetchall()

for book in books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [6]:
cursor.execute("SELECT * FROM books WHERE year_published > 1950")
recent_books = cursor.fetchall()

for book in recent_books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)

In [9]:
import pandas as pd
# Read the table into a DataFrame
df = pd.read_sql_query("SELECT * FROM books", conn)

# Display the DataFrame
print(df)

   id                  title               author  year_published
0   1  To Kill a Mockingbird           Harper Lee            1960
1   2                   1984        George Orwell            1949
2   3       The Great Gatsby  F. Scott Fitzgerald            1925

In [10]:
conn.close()